<style>
footer {
    padding: 10px;
    color: white;
    background-color: rgb(204,204,255);
    clear: left;
    text-align: center;
}
  
 header {
    padding: 30px;
    color: white;
    background-color: rgb(204,204,255);
    clear: left;
    text-align: center;
}
  
    
     li a {
    display: block;
    color: rgb(204,204,255);
    padding: 8px 16px;
    text-decoration: none;
}
/* Change the link color on hover */
li a:hover {
    background-color: rgb(200,205,255);
    color: rgb(0,0,55);
}
  
  article {
    margin-left: 170px;
    border-left: 1px solid rgb(204,204,255);
    padding: 1px;
    overflow: hidden;
}
  
  nav {
  color: rgb(0,0,55);
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding: 1;
}
   
nav ul a {
    text-decoration: none;
}
  
  table {
    border-collapse: collapse;
}
table, td, th {
    padding: 10px;
    border: 2px solid rgb(204,204,255);
}
  
  iframe {
       padding: 5px;
    }
  
  img { float: left;
       padding: 5px;
    }
  
  h1{padding:10px;
  font-family:arial;
  background-color:rgb(0,0,55);
  color:rgb(204,204,255);
  }
  
 body{
 border:5px solid rgb(204,204,255);
  background-color:rgb(0,0,55);
  color:rgb(204,204,255);
  }
  
  p{padding:10px;
  font-family:arial;
  background-color:rgb(0,0,55);
  color:rgb(204,204,255);
  }
  
  header{font-size:2cm;
  font-family:arial;
  background-color:rgb(204,204,255);
  color:rgb(0,0,55);
  }
  
  ul{font-family:arial;
  background-color:rgb(0,0,55);
  color:rgb(204,204,255);
  }
  
b{font-family:arial;
  background-color:rgb(0,0,55);
  color:rgb(204,204,255);
  }
  </style>
